h1{
    color:red;
    text-align: center;
    font-style: italic;
}
#Header{

}   

.Wrapper{
    color:blue;
    color: aquamarine;
}
h6{
    color: blue;
    text-align: center;
    font-style: italic;
}
#Header{

}

.Furaha{
    color: rgb(127, 229, 255); 
}
img{
    border-radius: 50%
}